body.fonts-loaded {
  font-family: 'komika_displayregular';
}
.dot {
  border-radius: 50%;
  width: 0;
  height: 0;
  z-index: 7;
  opacity: 0;
  box-shadow: 0 0 100px 1rem #000;
}
.slide-1 .dot, .slide-2 {
  background-color: #E91E63;
}
.slide-2 .dot, .slide-3 {
  background-color: #9C27B0;
}
.slide-3 .dot, .slide-4 {
  background-color: #673AB7;
}
.slide-4 .dot, .slide-5 {
  background-color: #3F51B5;
}
.slide-5 .dot, .slide-6 {
  background-color: #2196F3;
}
.slide-6 .dot, .slide-7 {
  background-color: #03A9F4;
}
.slide-7 .dot, .slide-8 {
  background-color: #00BCD4;
}
.slide-8 .dot, .slide-9 {
  background-color: #009688;
}
.slide-9 {
  background-image: url('/images/linkedin-bg.svg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.slide-9 .dot, .slide-10 {
  background-color: #4CAF50;
}
.slide-10 .dot, .slide-11 {
  background-color: #8BC34A;
}
.slide-11 .dot, .slide-12 {
  background-color: #CDDC39;
}
.slide-12 .dot, .slide-13 {
  background-color: #FDD835;
}
.slide-13 .dot, .slide-14 {
  background-color: #FFB300;
}
.slide-14 .dot, .slide-15 {
  background-color: #F57C00;
}
.card {
  background: url(/images/contact-card-bg.jpg);
  background-size: cover;
  position: relative;
  border-radius: 0.5rem;
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  opacity: 0;
  position: relative;
  z-index: 5;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.4);
}
.card .info {
  padding-bottom: 22rem;
}
.card .info h1 {
  font-family: Roboto;
  font-size: 2rem;
  margin: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.card .info h2 {
  font-family: Roboto;
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.contacts {
  bottom: 0;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  padding: 1rem 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.contacts a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.contact span {
  display: block;
  font-family: Roboto;
  font-size: 0.5rem;
  font-weight: 100;
}
.contact .contact-label, .contact .contact-info {
  opacity: 0;
}
.contact .contact-label {
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.contact:hover .contact-label, .contact:hover .contact-info {
  opacity: 1;
}
.contact:hover .contact-label {
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
}
.contact span .fa {
  font-size: 2rem;
  padding: 0.3rem;
  color: rgba(0, 0, 0, 0.3);
  display: block;
}
.contact:hover span, .contact:hover span .fa {
  color: rgba(255, 255, 255, 1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.contacts-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5.75rem;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background: url(/images/contact-card-bg.jpg) bottom;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.callouts .thought a {
  color: #000;
}
@media (min-width: 960px) {
  .slide-9 {
    background-size: cover;
  }
}
