@font-face {
    font-family: 'komika_displayregular';
    src: url('/fonts/Komika_display-webfont.eot');
    src: url('/fonts/Komika_display-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Komika_display-webfont.woff') format('woff'),
         url('/fonts/Komika_display-webfont.ttf') format('truetype'),
         url('/fonts/Komika_display-webfont.svg#komika_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.container-perspective {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  background: url('/images/bg.png');
}
.container-slides {
  width: 2000%;
  height: 100vh;
}
.slide {
  height: 100%;
  width: 5%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'komika_displayregular';
}
.slide-1 {
  background-color: #F44336;
}
.slide-2 {
  background-color: #FF8A80;
}
.slide-3 {
  background-color: #D500F9;
}
.slide-4 {
  background-color: #651FFF;
}
.slide-5 {
  background-color: #3D5AFE;
}
.slide-6 {
  background-color: #2979FF;
}
.slide-7 {
  background-color: #00B0FF;
}
.slide-8 {
  background-color: #00E5FF;
}
.slide-9 {
  background-color: #1DE9B6;
}
.slide-10 {
  background-color: #00E676;
}
.slide-11 {
  background-color: #76FF03;
}
.slide-12 {
  background-color: #C6FF00;
}
.slide-13 {
  background-color: #FFEA00;
}
.slide-14 {
  background-color: #FFC400;
}
.slide-15 {
  background-color: #FF9100;
}
.slide-16 {
  background-color: #FF3D00;
}
.slide-17 {
  background-color: #795548;
}
.slide-18 {
  background-color: #616161;
}
.slide-19 {
  background-color: #607D8B;
}
.slide-20 {
  background-color: #263238;
}

.callouts .talk-bubble {
  -webkit-filter: none;
  filter: none;
}
.callouts {
  -webkit-filter: drop-shadow(0 0 2px #000);
  filter: drop-shadow(0 0 2px #000);
}
.talk-bubble {
  background-color: #fff;
  padding: 2%;
  border-radius: 50%;
  position: relative;
  width: 13rem;
  -webkit-filter: drop-shadow(0 0 2px #000);
  filter: drop-shadow(0 0 2px 2px #000);
  align-self: flex-start;
  margin-top: 1rem;
}

.talk-bubble p {
  text-transform: uppercase;
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  bottom: auto;
  border-width: 2rem 3rem 0 1rem;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  transform: skewX(-66deg);
}
.tri-right.left-in.rounded {
  padding: 1%;
  margin-left: 0.6rem;
  width: 14rem;
  border-radius: 12px;
}
.tri-right.left-in.rounded:after {
  border-width: 2rem 3rem 0 1rem;
}
.tri-right.left-in.longer {
  position: absolute;
  left: 10%;
  top: 10%;
  width: auto;
}

.tri-right.left-in.longer::after {
  top: 90%;
      border-width: 72px 24px 0px 36px;
left: -20%;
}

.talktext {
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
